parameters:
  - name: name
    type: string
  - name: sb_test_shards
    type: number
    default: 0
  - name: e2e_test_shards
    type: number
    default: 0

variables:
  - template: ./_settings/base.yml
  - template: ./_settings/base.partial.yml
  - template: ./_settings/acr.yml
  - template: ./_settings/acr.partial.yml
    parameters:
      name: ${{ parameters.name }}
  - template: ./_settings/${{ parameters.name }}.yml
  - template: ./_settings/${{ parameters.name }}.partial.yml
  - name: e2e_test_shards
    ${{ if ne(parameters.e2e_test_shards, 0) }}:
      value: ${{ parameters.e2e_test_shards }}
    ${{ else }}:
      value: ${{ variables.e2e_test_shards }}
  - name: sb_test_shards
    ${{ if ne(parameters.sb_test_shards, 0) }}:
      value: ${{ parameters.sb_test_shards }}
    ${{ else }}:
      value: ${{ variables.sb_test_shards }}
stages:
  - ${{ if or(ne(variables.DISABLE_BUILD, true), eq(variables.ENABLE_E2E_DOCKER, true)) }}:
      - stage: Build
        dependsOn: []
        jobs:
          - job: Buildjob
            pool:
              vmImage: 'ubuntu-latest'
            steps:
              - checkout: self
                fetchDepth: 1
                submodules: true
                persistCredentials: true

              - template: ./steps/cache-node-modules.yml
                parameters:
                  ENABLE_STORYBOOK: ${{ variables.ENABLE_STORYBOOK }}
              - template: ./steps/azure-pipelines-build.yml
                parameters:
                  ENABLE_STORYBOOK: ${{ variables.ENABLE_STORYBOOK }}
              - template: ./steps/azure-pipelines-docker.yml
              - template: ./steps/git-add-tag.yml

  - stage: Test
    dependsOn: []
    condition: ne(variables.DISABLE_TESTS, true)
    jobs:
      - job: TestJob
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 1
            submodules: true
          - template: ./steps/cache-node-modules.yml
            parameters:
              ENABLE_STORYBOOK: ${{ variables.ENABLE_STORYBOOK }}
          - template: ./steps/azure-pipelines-tests.yml

  - ${{ if and(eq(variables.ENABLE_STORYBOOK, true), or(eq(variables.RUN_STORYBOOK_TESTS_PARALLEL_BUILD, true), eq(variables.RUN_STORYBOOK_TESTS_AFTER_BUILD, true))) }}:
      - stage: StorybookTest
        dependsOn:
          - ${{ if eq(variables.RUN_STORYBOOK_TESTS_PARALLEL_BUILD, true) }}: []
          - ${{ if eq(variables.RUN_STORYBOOK_TESTS_AFTER_BUILD, true) }}:
              - Build
        jobs:
          - job: StorybookTestJob
            strategy:
              parallel: ${{ variables.sb_test_shards }}
            pool:
              vmImage: 'ubuntu-latest'
            container: mcr.microsoft.com/playwright:v1.52.0-noble
            steps:
              - template: ./tests/storybook-tests.yml

  - ${{ if eq(variables.ENABLE_E2E_DOCKER, true) }}:
      - stage: e2e
        dependsOn:
          - Build
        jobs:
          - job: e2eJob
            strategy:
              parallel: ${{ variables.e2e_test_shards }}
            pool:
              vmImage: 'ubuntu-latest'
            steps:
              - template: ./tests/e2e-docker.yml

  # This is a fake stage which might be empty. It's used to configure which stages `deploy` depends on (e.g. whether deploy requires e2e tests to be passed or not)
  - ${{ if eq(variables.ENABLE_DEPLOY, true) }}:
      - stage: BeforeDeploy
        dependsOn:
          - Build
          - ${{ if ne(variables.DISABLE_TESTS, true) }}:
              - Test
          - ${{ if and(eq(variables.ENABLE_STORYBOOK, true), not(eq(variables.DEPLOY_IF_STORYBOOK_FAILS, true)), or(eq(variables.RUN_STORYBOOK_TESTS_PARALLEL_BUILD, true), eq(variables.RUN_STORYBOOK_TESTS_AFTER_BUILD, true))) }}:
              - StorybookTest
          - ${{ if and(eq(variables.ENABLE_E2E_DOCKER, true), not(eq(variables.DEPLOY_IF_E2E_FAILS, true))) }}:
              - e2e
        condition: succeeded()
        jobs:
          - job: DummyJob
          - ${{ if and(ne(variables.DOCKER_TAG, ''), ne(variables.DOCKER_TAG, false)) }}:
              - job: DockerTagJob
                pool:
                  vmImage: 'ubuntu-latest'
                steps:
                  - template: ./steps/docker-add-tag.yml
                    parameters:
                      name: ${{ variables.DOCKER_TAG }}

  - ${{ if eq(variables.ENABLE_DEPLOY, true) }}:
      - stage: DeployToDev
        dependsOn:
          - BeforeDeploy
        condition: and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/heads/release')), not(startsWith(variables['Build.SourceBranch'], 'refs/heads/feature2')))
        jobs:
          - deployment: k8sDevDeployment
            environment:
              name: 'dev'
              resourceType: Kubernetes
            strategy:
              runOnce:
                deploy:
                  steps:
                    - template: ./azure-deploy-kubernetes.yml
                      parameters:
                        Environment: 'today'
                        restartDeployment: true
                        BuildAppNumber: $(BUILD_NUMBER)

  - ${{ if and(eq(variables.ENABLE_DEPLOY, true), eq(variables.ENABLE_DEPLOY_GREEN, true)) }}:
      - stage: DeployToGreen
        dependsOn:
          - BeforeDeploy
        condition: succeeded()
        jobs:
          - deployment: k8sGreenDeployment
            environment:
              name: 'green'
              resourceType: Kubernetes
            strategy:
              runOnce:
                deploy:
                  steps:
                    - template: ./azure-deploy-kubernetes.yml
                      parameters:
                        Environment: 'green'
                        restartDeployment: true
                        BuildAppNumber: $(BUILD_NUMBER)

  - ${{ if and(eq(variables.ENABLE_DEPLOY, true), eq(variables.ENABLE_DEPLOY_PROD, true)) }}:
      - stage: DeployToProd
        dependsOn:
          - BeforeDeploy
        condition: succeeded()
        jobs:
          - deployment: k8sProdDeployment
            environment:
              name: 'prod'
              resourceType: Kubernetes
            strategy:
              runOnce:
                deploy:
                  steps:
                    - template: ./azure-deploy-kubernetes.yml
                      parameters:
                        Environment: 'prod'
                        restartDeployment: true
                        BuildAppNumber: $(BUILD_NUMBER)

  - ${{ if eq(variables.ENABLE_E2E_STAGE, true) }}:
      - stage: e2e
        dependsOn:
          - Build
        jobs:
          - job:
            strategy:
              parallel: ${{ variables.e2e_test_shards }}
            pool:
              vmImage: 'ubuntu-latest'
            steps:
              - template: ./tests/e2e-stage.yml
