# This is a CI build that is meant to be run on every commit in your main branch.
# Parameters for this build are defined in
# - ./_settings/base.yml
# - ./_settings/base.partial.yml -- change here
# - ./_settings/ci.yml
# - ./_settings/ci.partial.yml --or change here
parameters:
  - name: sb_test_shards
    type: number
    default: 0
  - name: e2e_test_shards
    type: number
    default: 0
  - name: deploy_template
    type: string
    default: 'azure-deploy-kubernetes-rancher.yml'

trigger:
  branches:
    include:
      - master
      - main
      - release/
      - releases/
  paths:
    exclude:
      - docs/*
pr: none

extends:
  template: azure-pipelines-template.yml
  parameters:
    name: ci
    deploy_template: ${{ parameters.deploy_template }}
    sb_test_shards: ${{ parameters.sb_test_shards }}
    e2e_test_shards: ${{ parameters.e2e_test_shards }}
