# This is a CI build that is meant to be run on every commit in your main branch.
# Parameters for this build are defined in
# - ./_settings/base.yml
# - ./_settings/base.partial.yml -- change here
# - ./_settings/ci.yml
# - ./_settings/ci.partial.yml --or change here
parameters:
  - name: ui_test_shards
    type: number
    default: 0

trigger:
  branches:
    include:
      - master
      - main
      - feature/ci-*
  paths:
    exclude:
      - docs/*

extends:
  template: azure-pipelines-template.yml
  parameters:
    name: ci
    ui_test_shards: ${{ parameters.ui_test_shards }}
