@use 'src/styles/variables' as *;
@use 'src/styles/base' as *;
.bottom-navigation {
  display: flex;
  justify-content: space-between;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.language-switcher {
  width: 80px;
}
