.none-select, .endAdornment {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.base-input, .input {
  /* !important is needed to be applied to MaterialUI components */
  background-color: #fbfcfd !important;
  border: 1px solid #d3dcea !important;
  box-sizing: border-box !important;
  border-radius: 2px !important;
  width: 100%;
  height: 40px;
  font-family: Roboto, Sans-Serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #4f4f4f;
  caret-color: #344966;
  padding: 12px 12px 11px 12px;
}

.inputErrorBorder, .base-input[data-error=true], [data-error=true].input, .inputErrorBorder:focus-within, .inputErrorBorder:hover {
  border: 1px solid #eb5757 !important;
}

.base-input:hover, .input:hover {
  border: 1px solid #9cb1d3 !important;
}

.base-input:focus-within, .input:focus-within {
  border: 1px solid #0e4195 !important;
}

.base-input:focus, .input:focus {
  border: 1px solid #0e4195 !important;
}

.base-input:focus-visible, .input:focus-visible {
  outline: none;
}

.base-input:active, .input:active {
  border: 1px solid #0e4195 !important;
}

.base-input:disabled, .base-input.default-button[data-disabled=true], .input:disabled, .input.default-button[data-disabled=true] {
  border: 1px solid #e9edf4 !important;
  color: rgba(79, 79, 79, 0.3) !important;
}

.base-input::placeholder, .input::placeholder {
  color: rgba(79, 79, 79, 0.5);
}

.base-input:focus::placeholder, .input:focus::placeholder {
  color: rgba(79, 79, 79, 0.2);
}

.inputErrorText, .helperText {
  width: 100%;
  margin-top: 2px;
  font-weight: normal;
  font-size: 10px;
  height: 12px;
  color: rgba(235, 87, 87, 0.5);
  margin-bottom: -14px;
}

@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

html {
  line-height: unset;
}

.title {
  font-family: Roboto, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(79, 79, 79, 0.5);
  height: 15px;
}

.field {
  margin-top: 4px;
  width: 100%;
}

.container {
  padding-bottom: 1.5rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.field-link {
  font-size: 10px;
  line-height: 12px;
}

.error {
  flex: 1;
  font-size: 13px;
  color: #eb5757;
}

.title-with-hint {
  display: flex;
}
.title-with-hint div:first-child {
  margin-right: 7px;
}
.title-with-hint div.hint {
  opacity: 0.5;
  cursor: pointer;
}
.title-with-hint div.hint:hover {
  opacity: 1;
}
.title-with-hint div.hint:hover path {
  fill: #9cb1d3 !important;
}

.none-select, .endAdornment {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.base-input, .input {
  /* !important is needed to be applied to MaterialUI components */
  background-color: #fbfcfd !important;
  border: 1px solid #d3dcea !important;
  box-sizing: border-box !important;
  border-radius: 2px !important;
  width: 100%;
  height: 40px;
  font-family: Roboto, Sans-Serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #4f4f4f;
  caret-color: #344966;
  padding: 12px 12px 11px 12px;
}

.inputErrorBorder, .inputErrorBorder:hover, .inputErrorBorder:focus-within, .base-input[data-error=true], [data-error=true].input {
  border: 1px solid #eb5757 !important;
}

.base-input:hover, .input:hover {
  border: 1px solid #9cb1d3 !important;
}

.base-input:focus-within, .input:focus-within {
  border: 1px solid #0e4195 !important;
}

.base-input:focus, .input:focus {
  border: 1px solid #0e4195 !important;
}

.base-input:focus-visible, .input:focus-visible {
  outline: none;
}

.base-input:active, .input:active {
  border: 1px solid #0e4195 !important;
}

.base-input:disabled, .base-input.default-button[data-disabled=true], .input:disabled, .input.default-button[data-disabled=true] {
  border: 1px solid #e9edf4 !important;
  color: rgba(79, 79, 79, 0.3) !important;
}

.base-input::placeholder, .input::placeholder {
  color: rgba(79, 79, 79, 0.5);
}

.base-input:focus::placeholder, .input:focus::placeholder {
  color: rgba(79, 79, 79, 0.2);
}

.inputErrorText, .helperText {
  width: 100%;
  margin-top: 2px;
  font-weight: normal;
  font-size: 10px;
  height: 12px;
  color: rgba(235, 87, 87, 0.5);
  margin-bottom: -14px;
}

.helperText {
  color: rgba(79, 79, 79, 0.5);
}

.helperText[data-error=true] {
  color: rgba(235, 87, 87, 0.5);
}

.inputContainer {
  position: relative;
}

.endAdornment {
  position: absolute;
  right: 8px;
  height: 70%;
  top: 15%;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.endAdornment > svg {
  height: 100%;
}

.passwordEye {
  margin-right: -4px;
  width: 24px;
}

.input-with-adornment {
  padding-right: 28px;
}

.non-form-input {
  height: 32px;
}

.search-input-cross {
  height: 50% !important;
}

.button {
  display: inline-block;
  font-family: Roboto, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.default-button, .default-button[data-disabled=true] {
  color: white;
  background-color: #0e4195;
  border-style: none;
}

.default-button:hover {
  background-color: rgba(14, 65, 149, 0.8);
}

.default-button:active {
  background-color: #0e4195;
  color: rgba(255, 255, 255, 0.5);
}

.default-button:disabled, .default-button[data-disabled=true] {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(14, 65, 149, 0.5);
  border-style: none;
  pointer-events: none !important;
  cursor: default;
}

.default-button[data-disabled=true] {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(14, 65, 149, 0.5);
  border-style: none;
  pointer-events: none !important;
}

.primary-button {
  color: #0e4195;
  background-color: white;
  border-color: #0e4195;
  line-height: 13px;
}

.primary-button:hover {
  background-color: rgba(14, 65, 149, 0.05);
}

.primary-button:active {
  background-color: white;
  color: rgba(14, 65, 149, 0.8);
}

.primary-button[data-disabled=true] {
  cursor: default;
  color: rgba(14, 65, 149, 0.5);
  background-color: white;
  border-color: rgba(14, 65, 149, 0.5);
  pointer-events: none !important;
}

.secondary-button {
  color: #39bdbc;
  background-color: white;
  border-color: #39bdbc;
  line-height: 13px;
}

.secondary-button:hover {
  background-color: rgba(57, 189, 188, 0.05);
}

.secondary-button:active {
  background-color: white;
  color: rgba(57, 189, 188, 0.5);
}

.secondary-button[data-disabled=true] {
  color: rgba(57, 189, 188, 0.5);
  background-color: white;
  border-color: rgba(57, 189, 188, 0.5);
  pointer-events: none !important;
}

.danger-button {
  color: #eb5757;
  background-color: white;
  border-color: #eb5757;
  line-height: 13px;
}

.danger-button:hover {
  background-color: rgba(235, 87, 87, 0.05);
}

.danger-button:active {
  background-color: white;
  color: rgba(235, 87, 87, 0.5);
}

.danger-button[data-disabled=true] {
  color: rgba(235, 87, 87, 0.5);
  background-color: white;
  border-color: rgba(235, 87, 87, 0.5);
  pointer-events: none !important;
}

.content-button {
  padding: 8px 16px;
}

.fullwidth-button {
  padding: 8px 16px;
  width: 100%;
}

.icon {
  margin-right: 7px;
}

/*# sourceMappingURL=frontend.css.map */
