steps:
  - task: ArchiveFiles@2
    displayName: '[artifact] Archive publish'
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)/publish'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/publish.zip'
      replaceExistingArchive: true

  - task: PublishPipelineArtifact@1
    displayName: '[artifact] Publish zipped publish'
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/publish.zip'
      artifact: 'publish'
      publishLocation: 'pipeline'

  - task: ArchiveFiles@2
    displayName: '[artifact] Archive nginx'
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)/nginx'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/nginx.zip'
      replaceExistingArchive: true

  - task: PublishPipelineArtifact@1
    displayName: '[artifact] Publish zipped nginx'
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/nginx.zip'
      artifact: 'nginx'
      publishLocation: 'pipeline'

  - task: ArchiveFiles@2
    displayName: '[artifact] Archive deploy'
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)/scripts/deploy'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/deploy.zip'
      replaceExistingArchive: true

  - task: PublishPipelineArtifact@1
    displayName: '[artifact] Publish deploy'
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/deploy.zip'
      artifact: 'deploy'
      publishLocation: 'pipeline'

  - task: PublishPipelineArtifact@1
    displayName: '[artifact] Publish docker-compose'
    inputs:
      targetPath: '$(Build.SourcesDirectory)/docker-compose.yaml'
      artifact: 'docker-compose'
      publishLocation: 'pipeline'

  - task: Docker@2
    displayName: '[Docker]: login'
    inputs:
      containerRegistry: $(connectorACR)
      command: 'login'

  - task: Bash@3
    displayName: '[debug]: ACR variables'
    inputs:
      targetType: 'inline'
      script: |
        echo "ACR_REGISTRY/ACR_REPOSITORY: $(ACR_REGISTRY)/$(ACR_REPOSITORY)"
        echo "BUILD_NUMBER: $(BUILD_NUMBER)"

  - task: Docker@2
    displayName: '[Docker]: build and push docker image'
    condition: succeeded()
    inputs:
      repository: $(ACR_REPOSITORY)
      command: 'buildAndPush'
      Dockerfile: 'publish/Dockerfile'
      buildContext: '$(Build.SourcesDirectory)/publish'
      tags: |
        $(BUILD_NUMBER)
  - task: Docker@2
    displayName: '[Docker]: logout'
    inputs:
      containerRegistry: $(connectorACR)
      command: 'logout'
