parameters:
  - name: ENABLE_STORYBOOK
    type: boolean

steps:
  - task: Bash@3
    displayName: '[pipeline] set build number'
    inputs:
      targetType: 'inline'
      script: |
        echo "##vso[build.updatebuildnumber]$(BUILD_NUMBER)"

  - task: Bash@3
    displayName: '[yarn]: set version'
    inputs:
      targetType: 'inline'
      script: |
        yarn json -f package.json -I -e 'this.version="$(BUILD_NUMBER)"'
        yarn json -f frontend/package.json -I -e 'this.version="$(BUILD_NUMBER)"'
        yarn --version

  # `set version` step should go after `yarn install`, since it uses `json` package which should be installed
  # we do not use `yarn version` plugin, because it doesn't play well with shallow clone (https://yarnpkg.com/features/release-workflow#commit-history)
  - task: Bash@3
    displayName: '[yarn]: frontend typecheck'
    inputs:
      targetType: 'inline'
      script: |
        yarn frontend typecheck

  - task: Bash@3
    displayName: '[yarn]: copy translations to backend'
    inputs:
      targetType: 'inline'
      script: |
        yarn copy-translations-to-backend

  - task: Bash@3
    displayName: '[yarn]: build frontend'
    inputs:
      targetType: 'inline'
      script: |
        yarn frontend build-scss-for-razor
        yarn build-frontend
    env:
      DEV_SENTRY_AUTH_TOKEN: $(DEV_SENTRY_AUTH_TOKEN)
      PROD_SENTRY_AUTH_TOKEN: $(PROD_SENTRY_AUTH_TOKEN)

  - publish: './frontend/build'
    artifact: 'frontend'

  - task: Bash@3
    displayName: '[yarn]: build backend'
    inputs:
      targetType: 'inline'
      script: |
        yarn build-dotnet

  - task: Bash@3
    displayName: '[yarn]: copy frontend to backend'
    inputs:
      targetType: 'inline'
      script: |
        yarn copy-frontend

  - ${{ if eq(parameters.ENABLE_STORYBOOK, true) }}:
      - task: Bash@3
        displayName: '[yarn]: build storybook'
        inputs:
          targetType: 'inline'
          script: |
            yarn frontend build-storybook

      - publish: './frontend/storybook-static'
        artifact: 'storybook'

      - task: Bash@3
        displayName: '[yarn]: copy storybook to backend'
        inputs:
          targetType: 'inline'
          script: |
            yarn copy-storybook

  - template: ./build-import-meta-env.yml
