steps:
  - publish: './publish'
    artifact: 'publish'

  - publish: './docker-compose.yaml'
    artifact: 'docker-compose'

  - publish: './nginx'
    artifact: 'nginx'

  - publish: './scripts/deploy'
    artifact: 'scripts'

  - task: Docker@2
    displayName: '[Docker]: login'
    inputs:
      containerRegistry: $(connectorACR)
      command: 'login'

  - task: Bash@3
    displayName: '[debug]: ACR variables'
    inputs:
      targetType: 'inline'
      script: |
        echo "ACR_REGISTRY/ACR_REPOSITORY: $(ACR_REGISTRY)/$(ACR_REPOSITORY)"
        echo "BUILD_NUMBER: $(BUILD_NUMBER)"

  - task: Docker@2
    displayName: '[Docker]: build and push docker image'
    condition: succeeded()
    inputs:
      repository: $(ACR_REPOSITORY)
      command: 'buildAndPush'
      Dockerfile: 'publish/Dockerfile'
      buildContext: '$(Build.SourcesDirectory)/publish'
      tags: |
        $(BUILD_NUMBER)
  - task: Docker@2
    displayName: '[Docker]: logout'
    inputs:
      containerRegistry: $(connectorACR)
      command: 'logout'
