@use './styles/base' as *;
@use './styles/variables' as *;
@use './index' as *;
@use './components/uikit/Field.module' as *;
@use './components/uikit/inputs/Input.module' as *;
@use './components/uikit/buttons/Button.module' as *;

/*SVG load from resources as image and cannot be updated
  Original color should be #a5aaa5
  https://stackoverflow.com/a/53336754/291695*/
.passwordEyeImage:hover {
  filter: brightness(88%) contrast(88%);
}

.passwordEye {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

input.input-validation-error {
  border-bottom: 1px solid $danger;
}

input.input-validation-error:focus {
  border-color: $danger;
}
