@use 'src/styles/variables' as *;
@use 'src/styles/base' as *;

.root-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .multiselect-header {
    height: $normal-input-height;
    padding-left: 12px;
  }
}

.option-value {
  background-color: initial;

  color: $normal !important;
  line-height: 16px;

  border: none;
  border-top: 1px $separator solid;
  padding: 0;
  height: 100%;
}
.option-value:global(.MuiAutocomplete-option.Mui-focused) {
  background: $background-input-hover;
}

.option-value[aria-disabled='true'] {
  // disabled
  opacity: 0.5;
}

.option-value[aria-disabled='true'][aria-selected='true'] {
  // disabled and selected
  opacity: 0.5;
}

.option-value:global(.MuiAutocomplete-option)[aria-selected='true'] {
  // selected item
}

.li-with-prefix {
  justify-content: space-between !important;
}

.non-editable-input {
  cursor: pointer;
}

// we need to use common font config in dropdown-callout and option-value, to be able to use 'ch' units in callout
.font-config {
  font-family: $font-family !important;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}

.dropdown-callout {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  -webkit-app-region: no-drag;
}

.expand-icon {
  opacity: 0.7;
}

input[aria-expanded='true'] + div .expand-icon {
  transform: rotate(180deg);
}

.errorText {
  @extend .inputErrorText;
}

.listbox {
  padding: 0 !important;
}

.checkbox {
  margin-left: 12px;
  pointer-events: none;
}

.multiSelectCheckbox {
  margin-right: 8px;
}

.multiselect-header {
  font-weight: 500;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @extend .option-value;
  @extend .font-config;

  .headerText {
  }
  .links-block {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link {
    color: $secondary;
    cursor: pointer;
    margin-right: 5px;
    &-disabled {
      opacity: 0.3;
    }
    &-disabled:hover {
      cursor: default;
      opacity: 0.3;
    }
  }
}

.virtualized-list {
  ul {
    padding: 0;
    margin: 0;
  }
}
